.invoices-table .status {
    display: flex;
    margin: auto;
    width: fit-content;
    font-weight: bold;
    border-style: solid;
    border-color: transparent;
    border-radius: 5px;
    color: white !important;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
}