@media (max-width: 1000px){

.register {
    width: 100%;
    height: fit-content;
    position: absolute;
    background: #0d1117;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.register .form-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.form-container .form {
    width: 100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: transparent;
    border-radius: 15px;

    background: #131921;
}


.form .login-via-telegram-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 60%;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    background-color: #28a6e7;

    display: flex;
    cursor: pointer;
}

.form .login-via-telegram-button .telegram-image {
    height: 35px;
    width: 35px;

    background-image: url("/assets/icons/telegram.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.form .login-via-telegram-button .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.form .login-via-telegram-button .text-container .text {
    color: white;
}

.form .title {
    margin-top: 30px;
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

.form .inputs-container {
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.form .input-container {
    width: 100%;
}

.form .input-container .title {
    text-align: left;
    font-size: 1.2rem;
    color: white;
    width: 100%;
    margin-bottom: 5px;
}


.error-text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: none;
    font-size: 1.1em;
    margin-top: 30px;
    max-width: 90%;
    word-wrap: anywhere;
    color: #ff5555;
}

.form .input-container input {
    border-radius: 3px;
    padding-left: 10px;
    transition: border-color 0.5s;
    padding-right: 10px;
    color: white;
    width: 90%;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    outline: none;
    font-size: 16px;
    height: 40px;
}

.form .input-container .hint {
    color: #7f8681;
    font-size: 0.8rem;
    margin-top: 10px;
}


.form .input-container input::-webkit-inner-spin-button,
.form .input-container input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.agreement-container {
    margin-top: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.agreement-container .checkmark {
    border-style: solid;
    min-width: 24px;
    height: 24px;
    border-radius: 8px;
    border-color: gray;
    cursor: pointer;
    border-width: 1px;
}

.agreement-container .checkmark img {
    display: block;
}

.agreement-container .text {
    max-width: 70%;
    color: #868587;
    margin-left: 20px;
    font-size: 0.9rem;
    margin-top: auto;
    margin-bottom: auto;
}

.agreement-container .text a {
    color: #2568fe;
}


.register .done-button {
    margin-top: 30px;
    margin-bottom: 30px;
    border-width: 1px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 8px;
    color: white;

    line-height: 46px;
    height: 46px;
    width: fit-content;
    border-style: solid;
    background: linear-gradient(98.11deg, #2F68FE 0%, #7B9FFE 47.88%, #DD5789 100%);
}

.register .have_account {
    font-size: 1.3rem;
    color: #8f8f7f;
    text-align: center;
    margin-bottom: 30px;
}

.have_account a {
    color: #8f8f7f;
}}